{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    height: 400px;
    width: 400px;
    background-color: red;
}
.flower{
    position: absolute;
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
    background-image: linear-gradient( 68.1deg,  rgba(196,69,69,1) 9.2%, rgba(255,167,73,0.82) 25%, rgba(253,217,82,0.82) 43.4%, rgba(107,225,108,0.82) 58.2%, rgba(107,169,225,0.82) 75.1%, rgba(153,41,243,0.82) 87.3% );
    height: 100px;
    width: 100px;
    animation-name: flower;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.f1{
    animation-delay: 1s;
    background-color: red;
}
.f2{
    animation-delay: 1.5s;
    background-color: yellow;
}
.f3{
    animation-delay: 2s;
    background-color: orange;
}
.f4{
    animation-delay: 2.5s;
    background-color: cyan;
}
.f5{
    animation-delay: 3s;
    background-color: lightcoral;
}
.f6{
    animation-delay: 3.5s;
    background-color: lightgreen;
}

/*.flower:hover{
    transform: rotate(360deg);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: linear;
    transform-origin: left top;
}*/


@keyframes flower{
    from{
        transform: rotate(0deg);
        transform-origin: top left;
    }
    to{
        transform: rotate(360deg);
        transform-origin: top left;
    }

}

